<html>
    <head>
        <title>Le Blog des Défaillants</title>
    </head>
    <body>
        <h1>Le Groupe Parlementaire des Défaillants:</h1>
        <ol>
            <li>Le Père des Défaillants</li>
            <p>Moy kan bayil ma limmm</p>
            <li>Son Excellence: Mamadou CAMARA</li>
            <p>Le Président de la Fédération des Défaillants</p>
            <li>Président de L'Assemblée Fédérale: Samba SOW</li>
            <p>Si le Président meurt, il est commis d'office Président Intérim</p>
            <li>Le Trésorier: Tidiane DIALLo</li>
            <p>Soutoutou boul xam Xibaar yi</p>
            <li>Président des Jeunes ou Vieux Défaillants: Soul Dembele</li>
            <p>Personne ne le comprend mieux que Petit</p>
            <li>Le Thianeur par Excellence: Petit</li>
            <p>Ndakh défaillant sinon du Thiane dééé</p>
            <p>Le Plus grand Défaillants aux Mondes: Ablaye BAKHOUM</p>
            <li>Ohhh N'oublie pas le grand Marabaout de Petit Mbao: Kan Sidy</li>
        </ol>
       <p>D'après une source: <a href="https://tutorial.djangogirls.org/fr/html/">
        Django Boys</a></p>
        <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="#">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
    
            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="#">Mon second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        <p>It works</p>

    </body>
</html>